* {
  box-sizing: border-box;
}

body {
  font-family: 'Arimo', sans-serif;
  font-size: 17px;
  margin: 0;
}

.body {
  display: flex;
}

/*nav bar*/

nav {
  background: #554137;
  color: #EED5D2;
  display: inline;
  font-family: 'Abel', sans-serif;
  left: 0;
  margin: 0;
  width: 175px;
}

nav h1 {
  font-family: 'Arimo', sans-serif;
  font-size: .75em;
  padding: 0% 0% 7% 10%;
  text-align: center;
}

hr {
  border-color: #33240e;
  margin: 0% 0% 15% 0%;
}

.nav-li {
  font-size: .85em;
  padding: 7% 0% 7% 10%;
}

.nav-li-admin {
  font-size: .85em;
  padding: 14% 0% 0% 10%;
}

.nav-li:hover {
  background: #48372F;
  border-left: 4px solid brown;
  color: #F1D8BD;
}

.active {
  background: #48372F;
  border-left: 4px solid brown;
  color: #F1D8BD;
  font-size: .85em;
  padding: 7% 10%;
}

i.fa {
  display: inline-block;
  font-size: 1.5em;
  margin-right: .5em;
  text-align: center;
  vertical-align: middle;
  width: 30px;
}

.nav-titles {
  font-family: 'Arimo', sans-serif;
  font-size: .8em;  
  padding: 0% 0% 0% 14%;
}

.nav-list {
  font-family: 'Arimo', sans-serif;
  font-size: .75em;
  list-style: none none inside;
  padding: 0;
}

.categories {
  border-bottom: 2px none #33240e;
}

.img-circle {
  background-image: url('images/tiger-romero-2.jpg');
  background-position: center;
  background-size: cover;
  border-radius: 100px;
  display: flex;
  justify-content: center;
  height: 4em;
  margin: 19% auto 6%;
  width: 4em;
}

ul {
  list-style: none circle inside;
}

.color-1 {
  background: #E68449;
  display: inline-block;
  margin: 0% 12% 0% 6%;
  height: 12px; 
  width: 12px;
}

i.fa-check {
  font-size: .75em;
  text-align: center;
  vertical-align: middle;
  width: 12px;
}

.color-2 {
  background: #AB6236;
  display: inline-block;
  margin: 0% 12% 0% 6%;
  height: 12px; 
  width: 12px;
}

.color-3 {
  background: #9A755F;
  display: inline-block;
  margin: 0% 12% 0% 6%;
  height: 12px; 
  width: 12px;
}

.color-4 {
  background: #E7AF8E;
  display: inline-block;
  margin: 0% 12% 0% 6%;
  height: 12px; 
  width: 12px;
}

/*login header*/

.content {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 87%;
}

header {
  /*background: #DCCDC4;*/
  background: #FFECE3;
  display: grid;
  flex: 0 1 auto;
}

.login {
  display: flex;
}

.menu-icon {
  border: .5px solid #CCBDB6;
  height: 70px;
  width: 72px;
}

.menu-icon:hover {
  background: brown;
}

.menu-btn:hover {
  background: #FFECE3
}

i.fa-caret-left {
  color: brown;
  font-size: .75em;
  margin: 0;
  padding: 28px 0px 0px 20px;
}

i.fa-bars {
  color: #33240e;
  display: inline-block;
  font-size: 1.1em;
  margin: 0;
  padding: 28px 36px 0px 0px;
}

.search-bar{
  padding:10px;
  flex: 1;  
  font-family: FontAwesome, "Open Sans", Verdana, sans-serif;
  font-size: .85em;
}

i.fa-user-plus {
  color: #F1D8BD;
  font-size: 1.25em;
  padding: 24px 25px;
}

i.header-btn {
  color: #33240e;
  padding: 24px 24px;
}

i.header-btn:hover {
  color: #F1D8BD;
}

.user-btn {
  background: brown;
}

/*job header*/

.job-header {
	display: flex;
}

.job-title {
	flex: 1;
}

.job-title h1 {
  font-size: 1.5em;
  margin: 0;
  padding: 37px 0px 0px 44px;
}

.job-title h2 {
	color: grey;
  display: flex;
  font-size: .75em;
	padding: 0px 38px;
}

i.fa-map-marker {
	margin: 0;
}

i.fa-plus {
	font-size: .5em;
	margin: 0;
  padding: 6px 0px;
}

.preview-post {
	color: brown;
	padding: 1px 0px;
}

/*job tab buttons*/

.job-btns {
  display: flex;
  justify-content: center;
  margin: 0;
  margin: 0;
  padding: 23px 23px 0px 20px;
}

.green-circle {
	background: green;
  height: 7px;
  width: 7px;
  border-radius: 100px;
  margin: 0px 7px 1px 0px;
  display: inline-block;
}

.open {
	border: 1px solid grey;
	border-radius: 100px;
  height: 3em;
  width: 6em;
  margin: 25px 8px;
  text-align: center;
  padding: 10px 0px;
  font-size: .75em;
}

.icon-btns {
	border: 1px solid grey;
	border-radius: 100px;
  height: 2.25em;
  margin: 25px 8px;
  width: 2.25em;
}

i.fa-icon-btn {
	font-size: 1em;
	padding: 9px 12px;
}

/*job tabs*/

.job-tabs {
	color: grey;
  display: flex;
  flex-direction: row;
  font-family: 'Teko', sans-serif;
  justify-content: space-between;
  list-style: none;
  margin: 0;
  padding: 24px 218px 0px 46px;
}

.job-tabs li{
	padding-bottom: 9px;
}

.job-tabs-li:hover {
	border-bottom: 4px solid brown;
	color: black;
}

.summary {
	border-bottom: 4px solid brown;
	color: black;
}



/*visuals*/

.graphics {
  background: #9D887D;
  flex: 1 1 auto;
  height: 321px;
  border: 2px solid black;
  display: flex;
}

.circ-graph {
  height: 319px;
  width: 677px;
  padding: 43px 0px;
}

.bt-circles {
  display: flex;
  justify-content: space-evenly;
  position: relative;
  z-index: 1;
}

.circles {
  border-radius: 100px;
  height: 10em;
  width: 10em;
}

.bt-cir1 {
  background: #4598AE;
}

.bt-cir2 {
  background: brown;
}

.bt-cir3 {
  background: purple;
}

.tp-circ {
  background: #9D887D;
  border-radius: 100px;
  font-family: 'Teko', sans-serif;
  text-align: center;
  padding: 38px 0px;
  height: 8.5em;
  width: 8.5em;
  margin: 13px 13px;
}

.numbers {
  font-size: 2.25em;
}

.circ-graph-btn {
  border: 1px solid grey;
  border-radius: 100px;
  background: #FFFFFF;
  font-size: 17px;
  text-align: center;
  height: 1.5em;
  width: 10em;
  font-family: 'Teko', sans-serif;
  padding: 2px 0px;
  margin: 43px 0px 0px 250px;
}

.graph {
  width: 447px;
  padding: 39px 1px;
}

.graph-img {
  background: url('images/bar-graph.png');
  height: 206px;
  width: 400px;
  background-position: center;
  background-size: 428px;
}

.graph-btn {
  border: 1px solid grey;
  border-radius: 100px;
  background: #FFFFFF;
  font-size: 17px;
  text-align: center;
  height: 1.5em;
  width: 8em;
  font-family: 'Teko', sans-serif;
  padding: 2px 0px;
  margin: 11px 0px 0px 134px;
}

/*job description*/

.job {
  background: #9D887D;
  display: flex;
  flex: 1 0 100vh;
  flex-direction: row;
}

.job-description {
  background: #715A4E;
  margin: 3% 3%;
  width: 75%;
}

/*social media links*/

.sm-links {
  background: orange;
  display: flex;
  flex-direction: column;
  margin: 3% 3% 3% 0%;
  width: 25%;
}
