* {
  box-sizing: border-box;
}

body {
  font-family: 'Arimo', sans-serif;
  font-size: 17px;
  margin: 0;
}

.body {
  display: flex;
}

/*nav bar*/

nav {
  background: #554137;
  color: #EED5D2;
  display: inline;
  font-family: 'Abel', sans-serif;
  left: 0;
  margin: 0;
  width: 175px;
}

nav h1 {
  font-family: 'Arimo', sans-serif;
  font-size: .75em;
  padding: 0% 0% 7% 10%;
  text-align: center;
}

hr {
  border-color: #33240e;
  margin: 0% 0% 15% 0%;
}

.nav-li {
  font-size: .85em;
  padding: 7% 0% 7% 10%;
}

.nav-li-admin {
  font-size: .85em;
  padding: 14% 0% 0% 10%;
}

.nav-li:hover {
  background: #48372F;
  border-left: 4px solid brown;
  color: #F1D8BD;
}

.active {
  background: #48372F;
  border-left: 4px solid brown;
  color: #F1D8BD;
  font-size: .85em;
  padding: 7% 10%;
}

i.fa {
  display: inline-block;
  font-size: 1.5em;
  margin-right: .5em;
  text-align: center;
  vertical-align: middle;
  width: 30px;
}

.nav-titles {
  font-family: 'Arimo', sans-serif;
  font-size: .8em;  
  padding: 0% 0% 0% 14%;
}

.nav-list {
  font-family: 'Arimo', sans-serif;
  font-size: .75em;
  list-style: none none inside;
  padding: 0;
}

.categories {
  border-bottom: 2px none #33240e;
}

.img-circle {
  background-image: url('images/tiger-romero-2.jpg');
  background-position: center;
  background-size: cover;
  border-radius: 100px;
  display: flex;
  justify-content: center;
  height: 4em;
  margin: 19% auto 6%;
  width: 4em;
}

ul {
  list-style: none circle inside;
}

.color-1 {
  background: #E68449;
  display: inline-block;
  height: 12px; 
  margin: 0% 12% 0% 6%;
  width: 12px;
}

i.fa-check {
  font-size: .75em;
  text-align: center;
  vertical-align: middle;
  width: 12px;
}

.color-2 {
  background: #AB6236;
  display: inline-block;
  height: 12px; 
  margin: 0% 12% 0% 6%;
  width: 12px;
}

.color-3 {
  background: #9A755F;
  display: inline-block;
  height: 12px; 
  margin: 0% 12% 0% 6%;
  width: 12px;
}

.color-4 {
  background: #E7AF8E;
  display: inline-block;
  height: 12px; 
  margin: 0% 12% 0% 6%;
  width: 12px;
}

/*login header*/

.content {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 87%;
}

header {
  background: #FFECE3;
  display: grid;
  flex: 0 1 auto;
}

.login {
  display: flex;
}

.menu-icon {
  border: .5px solid #CCBDB6;
  height: 70px;
  width: 72px;
}

.menu-icon:hover {
  background: brown;
}

.menu-btn:hover {
  background: #FFECE3
}

i.fa-caret-left {
  color: brown;
  font-size: .75em;
  margin: 0;
  padding: 28px 0px 0px 20px;
}

i.fa-bars {
  color: #33240e;
  display: inline-block;
  font-size: 1.1em;
  margin: 0;
  padding: 28px 36px 0px 0px;
}

.search-bar{
  flex: 1;  
  font-family: FontAwesome, "Open Sans", Verdana, sans-serif;
  font-size: .85em;
  padding:10px;
}

i.fa-user-plus {
  color: #F1D8BD;
  font-size: 1.25em;
  padding: 24px 25px;
}

i.header-btn {
  color: #33240e;
  padding: 24px 24px;
}

i.header-btn:hover {
  color: #F1D8BD;
}

.user-btn {
  background: brown;
}

/*job header*/

.job-header {
	display: flex;
}

.job-title {
	flex: 1;
}

.job-title h1 {
  font-size: 1.5em;
  margin: 0;
  padding: 37px 0px 0px 44px;
}

.job-title h2 {
	color: grey;
  display: flex;
  font-size: .75em;
	padding: 0px 38px;
}

i.fa-map-marker {
	margin: 0px 9px 0px 0px;
}

i.fa-plus {
	font-size: .5em;
	margin: 0;
  padding: 6px 0px;
}

.preview-post {
	color: brown;
	padding: 1px 0px;
}

/*job tab buttons*/

.job-btns {
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 23px 23px 0px 20px;
}

.green-circle {
	background: green;
  border-radius: 100px;
  display: inline-block;
  height: 7px;
  margin: 0px 7px 1px 0px;
  width: 7px;
}

.open {
	border: 1px solid grey;
	border-radius: 100px;
  font-size: .75em;
  height: 3em;
  margin: 25px 8px;
  padding: 10px 0px;
  text-align: center;
  width: 6em;
}

.icon-btns {
	border: 1px solid grey;
	border-radius: 100px;
  height: 2.25em;
  margin: 25px 8px;
  width: 2.25em;
}

i.fa-icon-btn {
	font-size: 1em;
	padding: 9px 12px;
}

/*job tabs*/

.job-tabs {
	color: grey;
  display: flex;
  flex-direction: row;
  font-family: 'Teko', sans-serif;
  justify-content: space-between;
  list-style: none;
  margin: 0;
  padding: 24px 218px 0px 46px;
}

.job-tabs li{
	padding-bottom: 9px;
}

.job-tabs-li:hover {
	border-bottom: 4px solid brown;
	color: black;
}

.summary {
	border-bottom: 4px solid brown;
	color: black;
}



/*visuals*/

.graphics {
  background: #9D887D;
  display: flex;
  flex: 1 1 auto;
  height: 313px;
}

.circ-graph {
  height: 319px;
  padding: 43px 0px;
  width: 677px;
}

.bt-circles {
  display: flex;
  justify-content: space-evenly;
  position: relative;
  z-index: 1;
}

.circles {
  border-radius: 100px;
  height: 10em;
  width: 10em;
}

.bt-cir1 {
  background: #4598AE;
}

.bt-cir2 {
  background: brown;
}

.bt-cir3 {
  background: purple;
}

.tp-circ {
  background: #9D887D;
  border-radius: 100px;
  font-family: 'Teko', sans-serif;
  height: 8.5em;
  margin: 13px 13px;
  padding: 38px 0px;
  text-align: center;
  width: 8.5em;
}

.numbers {
  font-size: 2.25em;
}

.circ-graph-btn {
  background: #FFFFFF;
  border: 1px solid grey;
  border-radius: 100px;
  font-family: 'Teko', sans-serif;
  font-size: 17px;
  height: 1.5em;
  margin: 43px 0px 0px 250px;
  padding: 2px 0px;
  text-align: center;
  width: 10em;
}

.graph {
  padding: 39px 1px;
  width: 447px;
}

.graph-img {
  background: url('images/bar-graph.png');
  background-position: center;
  background-size: 428px;
  height: 206px;
  width: 400px;
}

.graph-btn {
  background: #FFFFFF;
  border: 1px solid grey;
  border-radius: 100px;
  font-family: 'Teko', sans-serif;
  font-size: 17px;
  height: 1.5em;
  margin: 11px 0px 0px 134px;
  padding: 2px 0px;
  text-align: center;
  width: 8em;
}

.mid-line {
  background: #9D887D;
  display: flex;
}

.mid {
  border-color: #33240e;
  width: 50%;
}

.mid-1 {
  margin: 12px 15px 11px 42px;
}

.mid-2 {
  margin: 12px 42px 11px 0px;
}

/*job description*/

.job {
  background: #9D887D;
  display: flex;
  flex: 1 0 100;
  flex-direction: row;
}

.job-description {
  margin: 1% 3%;
  width: 75%;
}

.top {
  background-color: #715A4E;
  color: #FFECE3;
  margin-bottom: 0;
  padding: 22px 0px 22px 38px;
}

.top-btn {
  background: #8C7061;
  color: #FFECE3;
  display: inline;
  margin: 0px 54px;
  padding: 6px 7px 6px 0px;
}

i.fa-pencil {
  font-size: 1em;
  margin: 0;
  text-align: center;
  vertical-align: middle;
}

.job-details {
  background: #FFECE3;
}

dl {
  display: flex;
  flex-flow: row;
  flex-wrap: wrap;
  margin: 0;
  padding: 20px 32px 21px 37px;
  width: 100%;
}

dt {
  border-bottom: 2px solid;
  flex: 0 0 26%;
  font-size: .85em;
  margin: 0;
  overflow: hidden;
  padding: 25px 0px 0px 0px;
  text-overflow: ellipsis;
}

dd {
  border-bottom: 2px solid;
  flex:0 0 73%;
  font-size: .85em;
  margin: 0;
  overflow: hidden;
  padding: 25px 0px 25px 0px;
  text-align: left;
  text-overflow: ellipsis;
}

.last-dd {
  border-bottom: none;
}

.hiring-lead {
  padding: 41px 0px 0px 0px;
}

.hiring {
  background-image: url('images/cookie-monster.jpg');
  background-position: center;
  background-size: cover;
  border-radius: 100px;
  display: inline-flex;
  height: 3em;
  justify-content: center;
  margin: 0px 15px 0px 0px;
  padding: 0px 0px 16px 0px;
  width: 3em;
}

/*social media links*/

.sm-links {
  display: flex;
  flex-direction: column;
  margin: 3% 3% 3% 0%;
  width: 25%;
}

i.fa-sm {
  font-size: 1.25em;
  padding: 0px 50px 0px 0px;
}

.fb {
  background: #4E74C1;
  color: #FFECE3;
  font-size: .65em;
  height: 3.5em;
  margin-bottom: 18px;
  padding: 13px 45px 0px 0px;
  text-align: center;
  width: 22em;
}

.twitter {
  background: #1DACED;
  color: #FFECE3;
  font-size: .65em;
  height: 3.5em;
  margin-bottom: 18px;
  padding: 13px 70px 0px 0px;
  text-align: center;
  width: 22em;
}

.linked-in {
  background: #1685BF;
  color: #FFECE3;
  font-size: .65em;
  height: 3.5em;
  margin-bottom: 33px;
  padding: 13px 54px 0px 0px;
  text-align: center;
  width: 22em;
}

i.fa-job {
  display: inline-block;
  font-size: .7em;
  margin: 0;
  padding: 0px 16px 0px 0px;
  text-align: center;
  vertical-align: middle;
  width: 14px;

}

.job-link-des {
  font-size: 1em;
  margin: 0;
}

.desc {
  font-size: .75em;
  text-align: justify;
}

.btm-search {
  height: 40px;
  width: 192px;
}

.upload-btn {
  width: 254px;
}

.copy-button {
  background: #4598AE;
  color: #FFECE3;
  display: inline-block;
  font-size: .65em;
  height: 3.75em;
  margin-bottom: 36px;
  padding: 15px 0px 0px 0px;
  text-align: center;
  width: 5em;
}

/*screen break*/

@media only screen and (max-width: 1130px) {

  .graphics {
    display: flex;
    flex-direction: column;
    height: 652px;
  }

  .circ-graph {
    height: 50%;
    margin: 0% 0% 0% 8%;
    padding: 4% 0%;
    width: 85%;
  }

  .circ-graph-btn {
    margin: 4% 38%;
  }

  .graph {
    margin: 0% 0% 0% 25%;
    width: 75%;
  }

  .job {
    flex-direction: column;
  }

  .job-description {
    margin: 1% 12%;
  }

  .fb {
    width: 33em;
  }

  .twitter {
    width: 33em;
  }

  .linked-in {
    width: 33em;
  }

  .btm-search {
    width: 301px;
  }
  
  .upload-btn {
    width: 360px;
  }

  .sm-links {
    margin: 10% 3% 55% 31%;
    width: 38%;
  }


}

@media only screen and (max-width: 320px) {
  
  nav {
    display: none;
  }

  .job-tabs {
    padding: 24px 37px 0px 46px;
  }

  .content {
    width: 222%;
  }

  .circ-graph {
    margin: 0;
  }

  .graph {
    padding: 0% 21%;
  }

  .fb {
    margin-bottom: 50px;
  }

  .twitter {
    margin-bottom: 50px;
  }

  .linked-in {
    margin-bottom: 50px;
  }

  .sm-links {
    margin: 10% 3% 55% 31%;
    width: 38%;
  }

}